@import '~@angular/material/theming';

@mixin recipe-component-theme($theme) {

  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent); // Use mat-color to extract individual colors from a palette as necessary.
  $background: map-get($theme, background);

  .markdown-container {
    background-color: mat-color($background, background);
  }
}

/deep/ a:visited, a:hover, a:focus, a:active { text-decoration: none; color:red; }

.parallax-wrapper {
  max-height: 100%;
  overflow-x: hidden;
  perspective: 1px;
  perspective-origin: center top;
  transform-style: preserve-3d;
}

.headerimg {
  width: 101%;
  position: relative;
  vertical-align: top;
  transform-origin: center top;
  transform:
    translateZ(-1px)
    scale(1 + .5 * 2);
}

.markdown-container {
  transform: translateZ(0);
  padding: 2em;
}
