<div [ngClass]="{'dark-theme': isDarkTheme}" class="mat-app-background">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 routerLink="/">Recipes</h1>
    <span class="spacer"></span>
    <mat-slide-toggle [checked]="isDarkTheme" (change)="darkTheme($event.checked)"></mat-slide-toggle>
  </mat-toolbar>
  <mat-sidenav-container class="mat-elevation-z8">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" [fixedInViewport]="true">
      <h1>Lane's Recipes</h1>
      <mat-nav-list>
        <a mat-list-item routerLink="/" [class.selected]="!currentNavItem?.path">Home</a>
        <a mat-list-item *ngFor="let item of recipeNav" routerLink="/{{ item.path }}" [class.selected]="item.path === currentNavItem?.path">
          <app-photo [recipe]="item"></app-photo>
          <h3 matLine>{{ item.path.replace(dashes,' ') | titlecase }}</h3>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
